## Ejercicio 1

In [224]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""
text

"Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."

In [225]:
parts=text.split('.')
parts

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' On average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [226]:
words=['average', 'temperature', 'distance']
print(text.find('average'))
print(text.find('temperature'))
print(text.find('distance'))

163
325
-1

In [227]:
for facts in parts:
    for word in words:
        if word in facts:
            print(facts)

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [228]:
for facts in parts:
    for word in words:
        if word in facts:
            print(facts.replace('C','Celcius'))

 On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celcius

## Ejercicio 2

In [229]:
name='Moon'
gravity=0.00162 #km/s
planet='Earth'

In [230]:
title=f'datos de la gravedad sobre {name}'
title

'datos de la gravedad sobre Moon'

In [231]:
grav=f"""{'-'*80}
Nombre del planeta: {planet}
Gravedad en {name}: {round(gravity*1000,3)} m/s^2"""
grav

'--------------------------------------------------------------------------------\nNombre del planeta: Earth\nGravedad en Moon: 1.62 m/s^2'

In [232]:
cadena=f"""{title.title()}
{grav}
"""
cadena

'Datos De La Gravedad Sobre Moon\n--------------------------------------------------------------------------------\nNombre del planeta: Earth\nGravedad en Moon: 1.62 m/s^2\n'

In [233]:
name='Marte'
gravit=0.00143 #km/s
planet='Ganimedes'

In [234]:
print(grav)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.62 m/s^2

In [235]:
cadena2=f"""
Datos de gravedad sobre:{name}, 
{'-'*80}, 
Nombre del planeta: {planet}
Gravedad en {planet}: {gravit} m/s^s"""

print(cadena2.format(nombre=name, planeta=planet, gravedad=gravit))

Datos de gravedad sobre:Marte,
--------------------------------------------------------------------------------,
Nombre del planeta: Ganimedes
Gravedad en Ganimedes: 0.00143 m/s^s

In [236]:
gravity=gravit*1000
print(gravity)
print(cadena2.format(nombre=name, planet=planet, gravity=gravity))

1.4300000000000002

Datos de gravedad sobre:Marte,
--------------------------------------------------------------------------------,
Nombre del planeta: Ganimedes
Gravedad en Ganimedes: 0.00143 m/s^s